/*
ボタンコンポーネント

Styleguide 1.0
*/

/*
デフォルトボタン

Markup:
<a class="c-button">詳細を見る</a>

Styleguide 1.1
*/
.c-button {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
